* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.3;
    background: lightblue;
    text-align: center;
}

header {
    background: lightpink;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

blockquote.center {
    border: 1px solid #ddd;
    padding: 1em;
    background: lightgoldenrodyellow;
    font-family: "Lucida Console", "Courier New", monospace;
}

blockquote.list {
    border: 1px solid #ddd;
    text-align: left;
    background: lightgoldenrodyellow;
    padding: 1em 1.5em;
    word-wrap: break-word;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}

main {
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
}

p {
    text-align: left;
    text-indent: 50px;
}

a {
    color: darkblue;
}

article {
    margin-top: 10px;
    margin-bottom: 30px;
}

article h2, article h3 {
    margin-bottom: 10px;
}

table {
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid;
}

tr:hover {
    background-color: lightcyan;
}

ul {
    list-style-type: disc;
}

li {
    text-align: left;
}

footer {
    background: lightgreen;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
