* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.3;
    background: lightblue;
    text-align: center;
}

header {
    background: lightpink;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}
blockquote {
    background: lightgoldenrodyellow;
    font-family: "Lucida Console", "Courier New", monospace;
}

main {
    max-width: 900px;
    margin: 10px auto;
    padding: 10px;
}

p {
    text-align: left;
    text-indent: 50px;
}

a {
    color: darkblue;
}

article {
    margin-bottom: 20px;
}

article h2, article h3 {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

footer {
    background: lightgreen;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
